.composant-filtre {
    position: fixed;
    bottom: 15vh;
    right: 50vw;
    transform: translateX(50%);
    z-index: 20;
    display: flex;
    justify-content: space-between;
    background-color: $noir;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.bouton__categorie {
    font-family: "Diaplay Fair";
    background-color: hsl(210, 90%, 10%);
    color: $blanc;
    border: 2px solid hsl(210, 90%, 10%);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 50px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: hsl(210, 10%, 95%);
        color: hsl(210, 90%, 10%);
    }
}
.bouton__categorie__actif {
    background-color: hsl(30, 80%, 50%);
    border: 2px solid hsl(30, 80%, 50%);
    color: hsl(210, 10%, 95%);
}
