@charset "UTF-8";
.composant-filtre {
  position: sticky;
  top: 85vh;
  z-index: 2;
  max-width: fit-content;
  width: auto;
  min-height: fit-content;
  min-width: fit-content;
  margin: 0 auto;
  height: auto;
  background-color: hsla(0, 0%, 30%, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .composant-filtre {
    min-width: 70vw;
  }
}

.bouton__categorie {
  font-family: "Josefin Sans", sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ebebeb;
  background-color: transparent;
  border: none;
  padding: 1rem 1rem 0.7rem 1rem;
  margin: 0.5rem;
  border-radius: 50px;
  z-index: 2;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}
@media (max-width: 768px) {
  .bouton__categorie {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .bouton__categorie:hover {
    background-color: hsla(0, 0%, 50%, 0.5);
  }
}

@media (min-width: 768px) {
  .bouton__categorie__actif:hover {
    background-color: transparent;
  }
}

.filtre-header {
  display: none;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  background: none;
  border: none;
}
.filtre-header h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.filtre-header i {
  display: flex;
  align-items: center;
}

.categories {
  display: flex;
  gap: 10px;
  z-index: -1;
}

.selection {
  transform-origin: center;
  position: absolute;
  background-color: #007bff;
  padding: 1rem 1rem 0.7rem 1rem;
  margin: 0.5rem;
  border-radius: 50px;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .selection {
    display: none;
  }
}

/* Styles pour mobile */
@media (max-width: 768px) {
  .composant-filtre {
    background-color: transparent;
    backdrop-filter: none;
    width: 70vw;
    top: 80vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  .filtre-header {
    display: flex;
    background-color: hsla(0, 0%, 30%, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    width: 100%;
    z-index: 10;
    pointer-events: all;
  }
  .categories {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 30%, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding-bottom: 25%;
    flex-direction: column;
    transform: scaleY(0);
    filter: blur(10px);
    display: grid;
    opacity: 0;
    gap: 10px;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
    width: 100%; /* Prend 100% de la largeur */
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    transform-origin: center bottom;
    pointer-events: none;
    z-index: 2;
    max-width: 100%;
  }
  .categories.show {
    transform: scaleY(1);
    opacity: 1;
    filter: blur(0px);
    pointer-events: all;
  }
  .material-symbols-outlined {
    font-size: 1.5rem;
    line-height: 0.8rem;
  }
  .bouton__categorie__actif {
    background-color: #007bff;
  }
}/*# sourceMappingURL=style.css.map */